.header {
  display: grid;
  grid-template-areas: "logo nav";
}

.nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: center;
}

.menu-button {
  display: none;
}

.burger .burger-lines,
.burger .burger-lines::before,
.burger .burger-lines::after {
  z-index: 99;
  // font-size: 5px;
}

@media (max-width: 700px) {
  .header {
    grid-template-areas: "logo burger" "nav nav";
    justify-items: center;
  }

  .nav {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: none;
    // row-gap: 1rem;

    background: gray;
    width: 100vw;
    height: 100vh;
    position: absolute;
  }

  .menu-button {
    display: block;
  }
}
